<nav style="background-color: black; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="pad-2 grid primary font-larger sticky-top z-index-3">
    <!-- index link  -->
    <div class="col-4">
        <div class="font-bold">
            <a style="color: darkslategray ;" href="">IkenjokuDc
                <span class="font-small" style="color: green; font-size: smaller;">
                    {{environ.env}}
                </span>
            </a>
        </div>
    </div>

    <!-- navigation -->
    <div class="col-8">
        <a *ngFor="let link of links" routerLink="{{link.href}}" (mouseout)="hideToolTip();" (mouseover)="showToolTip(link)" class="mg-half inline-block float-right drop-down-toggle"></a>
        <span style="color: white; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;font-size: 12px;" class="float-right mg-half" *ngIf="link">{{link.toolTip}}</span>
    </div>

</nav>