<nav style="background-color: black;" class="pad-2 grid primary font-larger">
    <!-- index link  -->
    <div class="col-8 ">
        <div class="font-bold">
            <a href="">IkenjokuDc</a>
        </div>
    </div>

    <!-- navigation -->
    <div class="col-4">
        <ul class="mg-r-1">
            <li class="display-inline mg-l-5 float-right">
                <a class="pad-10" href="">Blog</a>
            </li>

            <li class="display-inline  float-right">
                <a class="pad-10" href="">Contact</a>
            </li>

            <li class="display-inline mg-l-5 float-right">
                <a [routerLink]="['/portfolio']" routerLinkActive="router-link-active"  class="pad-10" href="">Portfolio</a>
            </li>
       </ul>
    </div>
   
</nav>