<nav style="background-color: black;" class="pad-2 grid primary font-larger sticky-top">
    <!-- index link  -->
    <div class="col-4 ">
        <div class="font-bold">
            <a href="">IkenjokuDc
                <span class="font-small" style="color: green; font-size: smaller;">
                    {{environ.env}}
                </span>
            </a>
        </div>
    </div>

    <!-- navigation -->
    <div class="col-8">
        <ul class="mg-r-1">
            <li class="display-inline mg-l-5 float-right">
                <a class="pad-10" href="">Blog</a>
            </li>

            <li class="display-inline mg-l-5  float-right">
                <a class="pad-10" href="">Contact</a>
            </li>                                

            <li class="display-inline mg-l-5 float-right">
                <a [routerLink]="['/portfolio']" routerLinkActive="router-link-active"  class="pad-10" href="">Portfolio</a>
            </li>

            <li class="mg-l-5 float-right">
                <a [routerLink]="['/curriculum-vitae']" >View C.V</a>
            </li>
       </ul>
    </div>
   
</nav>