<div style="background-color: black; color: white; font-family: monospace;" class="grid full-vh pad-2">
    <div class="col-12 font-bold mg-t-10 pad-l-5">
        <span class="font-larger">
            Hi. I'm David. I am <br><br>
        </span>
        <span class="outPut">
            {{charactersToDisplay}}
        </span>
    </div>


    <!-- links(social) -->
    <div   class="col-12 social-links-container text-center">
        <ul>
            <li>
                <a href="" class="fa fa-twitter"></a>
            </li>
            <li>
                <a href="" class="fa fa-facebook"></a>
            </li>
            <li>
                <a href="" class="font-bold fa fa-whatsapp"></a>
            </li>
            <li>
                <a href="" class="font-bold fa fa-instagram"></a>
            </li>
            <li>
                <a href="" class="fa fa-gmail"></a>
            </li>
        </ul>
    </div>

</div>

<!-- about -->
<app-about></app-about>

