button{
    background-color: white;
    border: solid 3px orangered;
    border-radius: 10px;
    padding: 2%;
}
button:hover{
    background-color: orangered;
    color: white;
}

.line{
    padding: 5px;
    background-color: orangered;
}

.active{
    background-color: orangered;
}


.controls{
    background-color: grey;
    padding: 0.5%;
    /* border-radius: 50%; */
    display: inline-block;
    height: 0.5%;
    width: 0.5%;
    margin: 0.5%;
    cursor: pointer;
}

.controls:hover{
    background-color: orange;
}

@media (max-width: 700px){
    .about-container{
        margin-top: 7%;
    }
}

/* medium screen */
@media(min-width:1250px){
    button{
        padding: 1.5%;
    }

}