<div class="grid mg-2">
  <div class="pad-5 col-md-half col-5 col-sm-full grid">
    <div style="box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);" class="col-12 card pad-5 rad-5">
      <h2>Leave A Message</h2>
      <div class="line"></div>
      <div class="pad-5">
        <form [formGroup]="contactForm">
          <div class="grid mg-t-10">
              <input formControlName="name" type="text" class="pad-2 col-12 mg-b-3" placeholder="Name">
              <input formControlName="email" type="email" class="pad-2 col-12 mg-b-3" placeholder="Email Address">
              <input formControlName="subject" type="text" class="pad-2 col-12 mg-b-3" placeholder="Subject">
              <textarea formControlName="message" rows="15" class="col-12 pad-2" placeholder="Message"></textarea>
              <button (click)="sendEmail()" class="float-right pad-3 col-12 mg-t-5">
                Send Email
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-7 col-sm-full pad-5">
    <a href="tel:+2347038792802" style="display: block; font-size: x-large;" class=" mdi mdi-phone-in-talk"></a>
    <a href="https://www.linkedin.com/in/david-ike-njoku-dc/" style="display: block; font-size: x-large;" class=" mdi mdi-linkedin"></a>
    <a href="" style="display: block; font-size: x-large;" class=" mdi mdi-twitter"></a>
    <a href="https://github.com/ike-njoku" style="display: block; font-size: x-large;" class=" mdi mdi-github-circle"></a>
    <a href="mailto:ikenjokudc@gmail.com" style="display: block; font-size: x-large;" class=" mdi mdi-email"></a>ikenjokudc@gmail.com
  </div>
</div>
