/* counter */
.counter{
    font-size: 650%;
}
/* the divider (underline) (under titles) */
.line{
    padding: 5px;
    background-color: orangered;
}

/* material icons */
.mdi{
    font-size: 120%;
    margin-left: 0.5%;
}

.mdi:hover{
    font-size: 150%;
    color: white;
}

.slide-up{
    color:red
}

.card{
    font-size: large;
    color: grey;
    box-shadow: 2px 2px 2px grey;
    transition: box-shadow 0.5s linear, color 1s ease-in, transform 0.7s ease-out;
}

.card-header{
    font-weight: bold;
}

.card-body{
    font-size: medium;
}

.card-footer{
    height: 1rem;
    text-overflow: ellipsis;
}

.card:hover{
    box-shadow: 4px 4px 4px grey;
    color:#7A899C;
    transform: scale(1.03);
}